:root {
	--bg-color: #000000;
	--bg-header: #374151;

	--title: #ffffff;
	--text: #ffffff;

	--primary: #677eff;
	--secondary: #ffffff;
	--tertiary: #e3e3e3;

	--accent: #939cb1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color); /* Cambiado a gris muy claro */
	color: var(--text); /* Cambiado a gris oscuro suave */
}

h2 {
	padding: 10px;
	justify-self: center;
}

/* Header */

header {
	background-color: #374151; /* Cambiado a gris oscuro suave */
	color: var(--text);
	padding: 5px;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1000;
}

header h1 {
	font-size: 24px;
	margin-left: 5px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header h1 a {
	color: var(--text);
	text-decoration: none;
}

header nav {
	background-color: #374151; /* Cambiado a gris oscuro suave */
	color: var(--text);
	padding: 5px;
	margin-left: auto;
}

header nav a {
	color: var(--text);
	text-decoration: none;
	padding: 10px;
}

header nav a:hover {
	border-bottom: 3px solid var(--tertiary);
}

header button {
	background-color: var(--primary); /* Cambiado a azul índigo */
	color: white;
	border: 1px solid white;
	padding: 10px;
	border-radius: 5px;
	margin-left: auto;
	font-weight: bold;
}

header button:hover {
	background-color: var(--tertiary); /* Cambiado a azul violeta */
	cursor: pointer;
	color: #000000;
}

/* Sección Hero */
.hero {
	min-height: 100vh;
	background: linear-gradient(45deg, var(--primary) 0%, var(--accent) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 1rem;
}

.hero-content {
	max-width: 800px;
}

.hero-content h1 {
	font-size: 4rem;
	margin-bottom: 1.5rem;
	line-height: 1.2;
	font-weight: 800;
	color: whitesmoke;
}

.hero-content p {
	font-size: 1.8rem;
	font-weight: 500;
	color: white;
}

/* Main */

main {
	padding: 20px;
	justify-self: center;
	text-align: justify;
}

/* About */

#about {
	padding: 10px;
	justify-self: center;
	background: linear-gradient(
		45deg,
		var(--accent) 0%,
		var(--tertiary) 100%
	); /* Cambiado a gradiente de azules */
	color: #000000;
	border-radius: 25px;
}

.about-container {
	padding: 10px;
	display: flex;
	flex-wrap: wrap-reverse;
}

.about-text {
	padding: 10px;
	flex: 2;
	min-width: 75%;
}

.about-img {
	padding: 10px;
	justify-content: center;
	display: flex;
	flex: 1;
}

.about-img img {
	border-radius: 100%;
	border-bottom: 5px solid #374151; /* Cambiado a gris oscuro suave */
	border-right: 3px solid #374151; /* Cambiado a gris oscuro suave */
	box-shadow: #374151 0 0 10px; /* Cambiado a gris oscuro suave */
}

/* Skills */
#skills {
	padding: 10px;
}

#skills div {
	font-size: 48px;
	padding: 10px;
}

/* Projects */

#projects {
	padding: 10px;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project {
	border: 1px solid #374151; /* Cambiado a gris oscuro suave */
	border-radius: 25px;
	padding: 10px;
	margin: 10px;
	background-color: var(--accent);
	color: #000000;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.project:hover {
	background: linear-gradient(
		45deg,
		var(--tertiary) 0%,
		var(--accent) 100%
	); /* Cambiado a gradiente de azules */
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
}

.project img {
	width: 400px;
	height: 300px;
	border: #374151 1px solid; /* Cambiado a gris oscuro suave */
	border-radius: 20px;
	align-self: center;
	cursor: zoom-in;
	flex: 1;
	max-width: 100%;
}

.project img:active {
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
	transform: scale(2);
}

.project-content {
	padding: 15px;
	flex: 2;
	display: flex;
	flex-direction: column;
}

.project h3 {
	border-bottom: #000000 1px solid; /* Cambiado a gris oscuro suave */
	padding-top: 10px;
	text-align: center;
	flex: 1;
}

.project p {
	flex: 4;
}

.project span {
	padding-top: 10px;
}

.project i {
	color: black;
	font-size: 28px;
}

.project i:hover {
	color: var(--bg-header); /* Cambiado a azul índigo */
	cursor: pointer;
}

.project-content div {
	padding: 5px;
	display: flex;
	flex: 1;
}

.project-content div i {
	padding-right: 10px;
}

/* Footer */

#contact {
	padding: 20px;
	padding-top: 1rem; /* Cambiado a azul muy claro */
	justify-items: center;
}

#contact div {
	padding: 10px;
}

#contact div a {
	text-decoration: none;
	color: var(--text);
}

#contact div a:hover {
	color: var(--accent);
}

#contact div i {
	font-size: 28px;
}
