<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/9e771a2ce4.js"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
		/>
		<link rel="stylesheet" href="src/css/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap"
			rel="stylesheet"
		/>
		<title>Francisco Luis Campo | Portfolio</title>
	</head>

	<body>
		<header id="header">
			<h2><a href="./index.html">Portfolio</a></h2>
			<nav class="nav-bar">
				<a class="nav-button" href="./about.html">Sobre Mi</a>
				<a class="nav-button" href="./habilidades.html">Habilidades</a>
				<a class="nav-button" href="./proyectos.html">Proyectos</a>
				<a class="nav-button" href="./contacto.html">Contacto</a>
			</nav>
			<a class="cv" href="resources/docs/CV.pdf" target="_blank">
				<i class="fa-solid fa-file-pdf"></i>
				Curriculum Vitae
			</a>
		</header>

		<main id="main"></main>

		<footer id="footer">
			<h3>Con ♥️ de Fran</h3>

			<section class="social">
				<a href="mailto:campofranciscoluis@gmail.com">
					<i class="fa-solid fa-envelope"></i>
				</a>
				<a
					href="https://www.linkedin.com/in/francisco-luis-campo-2021a7220/"
				>
					<i class="fa-brands fa-linkedin"></i>
				</a>
				<a href="https://instagram.com/francisco.campo">
					<i class="fa-brands fa-instagram"></i>
				</a>
				<a
					href="https://wa.me/5493493661556?text=Hola%20Fran!%20Queria%20contactarte%20para%20un%20trabajo."
				>
					<i class="fa-brands fa-whatsapp"></i>
				</a>
				<a href="https://github.com/FCampo7">
					<i class="fa-brands fa-github"></i>
				</a>
			</section>
		</footer>
	</body>
</html>
