@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }
  55% {
    transform: scaleX(0.85) scaleY(1);
  }
  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }
  75% {
    transform: scaleX(0.9) scaleY(1);
  }
  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes mi-card-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hinge {
  0% {
    transform-origin: top left;
    opacity: 0;
  }
  10%, 30% {
    transform: rotate(70deg);
    opacity: 0.5;
  }
  20%, 40% {
    transform: rotate(55deg);
    opacity: 1;
  }
  50% {
    transform: translateY(1000px) scale(0.2);
    opacity: 0;
  }
  80% {
    transform: translateY(-1000px) scale(0.5);
    opacity: 0;
  }
  100% {
    transform-origin: center;
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* ************
*  * Projects *
*  ************/
#projects {
  padding: 8px;
}

.mi-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}

.mi-card {
  margin: 8px;
  padding: 8px;
  max-width: 400px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  color: #ffffff;
  background-color: #060606 !important;
  border: 2px solid #252525;
  border-radius: 24px;
}
.mi-card:hover {
  background-image: radial-gradient(circle, #060606 70%, #374151 100%);
  animation: mi-card-hover 1s ease-in-out;
}
.mi-card img {
  width: 400px;
  max-width: 100%;
  max-height: 200px;
  min-height: 200px;
  flex: 1;
  align-self: center;
  border: #252525 1px solid;
  border-radius: 20px;
}
.mi-card .mi-card-content {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
  flex: 2;
}
.mi-card .mi-card-content h3 {
  width: 100%;
  align-self: center;
  padding-top: 4px;
  padding-bottom: 14px;
  flex: 1;
  text-align: center;
  font-weight: 600;
  border-bottom: #252525 2px solid;
  font-family: "Turret Road", sans-serif;
  font-size: 1.5rem;
}
.mi-card .mi-card-content p {
  flex: 4;
}
.mi-card .mi-card-content span {
  margin-bottom: 8px;
  padding-top: 8px;
}
.mi-card .mi-card-content i {
  color: #ffffff;
  font-size: 28px;
}
.mi-card .mi-card-content i:hover {
  color: #939cb1;
  cursor: pointer;
}
.mi-card .mi-card-content .mi-card-demo {
  padding: 14px 0px;
  padding-bottom: 0px;
  display: flex;
  flex: 1;
}
.mi-card .mi-card-content .mi-card-demo i {
  padding-right: 8px;
}

/*# sourceMappingURL=proyectos.css.map */
