:root {
	--bg-color: #000000;
	--bg-header: #374151;
	--bg-soft: #060606;

	--title: #ffffff;
	--text: #ffffff;
	--text-secondary: #000000;

	--primary: #677eff;
	--secondary: #ffffff;
	--tertiary: #e3e3e3;

	--accent: #939cb1;

	--border-color: #252525;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	color: var(--text) !important;
	background-color: var(--bg-color) !important;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
	font-weight: 100;
}

.Turret-Road-h1 {
	font-family: "Turret Road", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

/* ************
*  *  Header  *
*  ************/

#header {
	min-height: 50px;

	background-color: var(--bg-color);
	color: var(--text);
}

.navbar-brand {
	margin-left: 4px;

	font-size: 24px;
	font-weight: 800;
}

.nav-button {
	padding: 8px;
	height: 2.25rem;

	color: var(--text);
	text-decoration: none;
	font-weight: 500;
}

.nav-button:hover {
	border-bottom: 3px solid var(--tertiary);
}

.nav-active {
	border-bottom: 3px solid var(--tertiary);
}

.cv {
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 8px;

	background-color: var(--bg-soft);
	color: var(--text);
	border: 1px solid var(--text);
	border-radius: 4px;

	cursor: pointer;

	font-weight: 600;
	text-decoration: none;
	text-align: center;
}

.cv:hover {
	background-color: var(--primary);
}

/* **********
*  *  Hero  *
*  **********/

.hero {
	padding: 0 1rem;
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	background-image: linear-gradient(
			180deg,
			#ffffff00 0%,
			var(--bg-soft) 80%,
			var(--bg-color) 100%
		),
		url("https://fcampo7.github.io/Mi-Portfolio/resources/img/Hero.jpg");
	background-size: cover;
}

.hero-content {
	max-width: 800px;
}

.hero-content h1 {
	margin-bottom: 1.5rem;

	color: var(--text);
	font-size: 4rem;
	line-height: 1.2;
}

.hero-content p {
	color: var(--accent);
	font-size: 1.8rem;
	font-weight: 500;
}

/* **********
*  *  Main  *
*  **********/

#main {
	margin: 20px;
	padding: 20px;

	width: 90vw;
	min-height: calc(100vh - 50px - 150px);

	justify-self: center;
	text-align: justify;
	text-justify: inter-character;
}

.subtitulos {
	padding: 8px;

	justify-self: center;
	text-align: center;

	font-family: "Turret Road", sans-serif;
	font-weight: 600;
	font-size: 2rem;
}

/* ***********
*  *  About  *
*  ***********/

#about {
	padding: 8px;

	justify-self: center;

	background: linear-gradient(
		45deg,
		var(--bg-soft) 50%,
		var(--bg-header) 100%
	);
	color: var(--text);
	border-radius: 14px;
}

@media screen and (min-width: 768px) {
	#about {
		max-width: 70%;
	}
}

.about-container {
	padding: 8px;

	display: flex;
	flex-wrap: wrap-reverse;
}

.about-text {
	padding: 8px;

	min-width: 75%;

	flex: 2;

	font-size: 1.05rem;
}

.about-img {
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.about-img img {
	border-radius: 100%;
	border-bottom: 4px solid #374151;
	border-left: 3px solid #374151;
	box-shadow: #374151 0 0 8px;
}

/* **********
*  * Skills *
*  **********/

#skills {
	padding: 8px;
}

#skills .skills-icons {
	padding: 8px;

	font-size: 48px;
	text-align: center;
}

#skills h4 {
	padding: 8px;
	font-size: 1.5rem;
	text-align: center;
	font-weight: 600;
}

/* ************
*  * Projects *
*  ************/

#projects {
	padding: 8px;
}

.mi-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.mi-card {
	margin: 8px;
	padding: 8px;

	max-width: 400px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	color: var(--text);
	background-image: var(--bg-soft);
	border: 2px solid var(--border-color);
	border-radius: 24px;
}

.mi-card:hover {
	background-image: radial-gradient(
		circle,
		var(--bg-soft) 70%,
		var(--bg-header) 100%
	);

	animation: mi-card-hover 1s ease-in-out;
}

@keyframes mi-card-hover {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

.mi-card img {
	width: 400px;
	max-width: 100%;
	max-height: 200px;
	min-height: 200px;

	flex: 1;
	align-self: center;

	cursor: zoom-in;

	border: var(--border-color) 1px solid;
	border-radius: 20px;
}

.mi-card img:active {
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
	transform: scale(2);
}

.mi-card h3 {
	padding-top: 4px;
	padding-bottom: 14px;

	flex: 1;
	text-align: center;
	font-weight: 600;

	border-bottom: var(--border-color) 2px solid;

	font-family: "Turret Road", sans-serif;
	font-size: 1.5rem;
}

.mi-card p {
	flex: 4;
}

.mi-card span {
	margin-bottom: 8px;
	padding-top: 8px;
}

.mi-card i {
	color: var(--text);
	font-size: 28px;
}

.mi-card i:hover {
	color: var(--accent);

	cursor: pointer;
}

.mi-card-content {
	padding: 14px;

	display: flex;
	flex-direction: column;
	flex: 2;
}

.mi-card-content .mi-card-demo {
	padding: 14px 0px;
	padding-bottom: 0px;

	display: flex;
	flex: 1;
}

.mi-card-content .mi-card-demo i {
	padding-right: 8px;
}

/* ************
*  * Contacto *
*  ************/

.formulario-container {
	padding: 8px;
	margin: 8px;

	justify-content: center;
	align-items: center;
	text-align: center;
}

.formulario {
	margin: 8px;
	padding: 8px;

	width: 100%;
	max-width: 400px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	justify-self: center;

	color: var(--text);
	background-image: var(--bg-soft);
	border: 2px solid var(--border-color);
	border-radius: 24px;
}

.formulario:hover {
	background-image: radial-gradient(
		circle,
		var(--bg-soft) 80%,
		var(--bg-header) 100%
	);
}

.formulario div {
	margin: 4px;
	padding: 8px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;

	width: 100%;
	max-width: 350px;
}

.formulario input {
	margin: 4px;
	padding: 8px;

	width: 100%;
	max-width: 300px;

	color: var(--text);
	background-color: var(--bg-soft);
	border: 1px solid var(--border-color);
	border-radius: 4px;
}

.formulario input:focus {
	outline: none;
	border: 1px solid var(--text);
}

.formulario textarea {
	margin: 4px;
	padding: 8px;

	width: 100%;
	max-width: 300px;
	height: 150px;

	color: var(--text);
	background-color: var(--bg-soft);
	border: 1px solid var(--border-color);
	border-radius: 4px;
}

.formulario textarea:focus {
	outline: none;
	border: 1px solid var(--text);
}

.formulario button {
	margin: 4px;
	padding: 8px;

	width: 100px;
	max-width: 300px;

	color: var(--text);
	background-color: var(--bg-soft);
	border: 2px solid var(--tertiary);
	border-radius: 4px;
	cursor: pointer;

	align-self: flex-end;
	font-weight: 700;
}

.formulario button:hover {
	background-color: var(--primary);
}

/* **********
*  * Footer *
*  **********/

#footer {
	background-color: var(--bg-color);
	color: var(--text);

	height: 80px;

	justify-items: center;
	text-align: center;
}

.social {
	background-color: var(--bg-color);
}

.social a {
	color: var(--text);
	text-decoration: none;
}

.social a:hover {
	color: var(--accent);
}

.social i {
	padding: 4px;

	font-size: 32px;
}
