:root {
	--bg-color: #000000;
	--bg-header: #374151;
	--bg-soft: #060606;

	--title: #ffffff;
	--text: #ffffff;
	--text-secondary: #000000;

	--primary: #677eff;
	--secondary: #ffffff;
	--tertiary: #e3e3e3;

	--accent: #939cb1;

	--border-color: #252525;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--text);
}

strong {
	font-weight: 700;
}

.montserrat-h1 {
	font-family: "Turret Road", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

/* Header */

#header {
	background-color: var(--bg-header);
	color: var(--text);
	padding: 5px;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1000;
}

#header h2 {
	font-size: 24px;
	margin-left: 5px;
}

#header h2 a {
	color: var(--text);
	text-decoration: none;
	font-weight: 800;
}

#header nav {
	padding: 5px;
	margin-left: auto;
}

#header .nav-button {
	color: var(--text);
	text-decoration: none;
	padding: 10px;
	font-weight: 500;
}

#header .nav-button:hover {
	border-bottom: 3px solid var(--tertiary);
}

#header .cv {
	background-color: var(--primary);
	color: var(--text);
	border: 1px solid var(--text);
	padding: 10px;
	border-radius: 5px;
	margin-left: auto;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

#header .cv:hover {
	background-color: var(--tertiary);
	color: var(--text-secondary);
}

/* Sección Hero */
.hero {
	min-height: 100vh;
	background-image: linear-gradient(
		178deg,
		var(--primary) 0%,
		var(--bg-soft) 80%,
		var(--bg-color) 100%
	);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 1rem;
}

.hero-content {
	max-width: 800px;
}

.hero-content h1 {
	font-size: 4rem;
	margin-bottom: 1.5rem;
	line-height: 1.2;
	color: var(--text);
}

.hero-content p {
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--accent);
}

/* Main */

#main {
	padding: 20px;
	margin: 20px;
	justify-self: center;
	text-align: justify;
	text-justify: inter-character;
	width: 90vw;
}

.subtitulos {
	padding: 10px;
	justify-self: center;
	font-weight: 600;
	text-align: center;
	font-family: "Turret Road", sans-serif;
	font-size: 2rem;
}

/* About */

#about {
	padding: 10px;
	justify-self: center;
	background: linear-gradient(
		45deg,
		var(--bg-soft) 50%,
		var(--bg-header) 100%
	);
	color: var(--text);
	border-radius: 25px;
}

.about-container {
	padding: 10px;
	display: flex;
	flex-wrap: wrap-reverse;
}

.about-text {
	padding: 10px;
	flex: 2;
	min-width: 75%;
}

.about-img {
	padding: 10px;
	justify-content: center;
	display: flex;
	flex: 1;
}

.about-img img {
	border-radius: 100%;
	border-bottom: 5px solid #374151;
	border-right: 3px solid #374151;
	box-shadow: #374151 0 0 10px;
}

/* Skills */

#skills {
	padding: 10px;
}

#skills .skills-icons {
	font-size: 48px;
	padding: 10px;
	text-align: center;
}

/* Projects */

#projects {
	padding: 10px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	border: 1px solid var(--border-color);
	border-radius: 25px;
	padding: 10px;
	margin: 10px;
	background-color: var(--bg-soft);
	color: var(--text);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 400px;
}

.card:hover {
	background-image: radial-gradient(
		circle,
		var(--bg-soft) 70%,
		var(--bg-header) 100%
	);
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
}

.card img {
	width: 400px;
	height: 300px;
	border: var(--border-color) 1px solid;
	border-radius: 20px;
	align-self: center;
	cursor: zoom-in;
	flex: 1;
	max-width: 100%;
}

.card img:active {
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
	transform: scale(2);
}

.card h3 {
	padding-top: 5px;
	padding-bottom: 15px;
	flex: 1;
	text-align: center;
	font-weight: 600;
	border-bottom: var(--border-color) 1px solid;
	font-family: "Turret Road", sans-serif;
	font-size: 1.5rem;
}

.card p {
	flex: 4;
}

.card span {
	padding-top: 10px;
	margin-bottom: 10px;
}

.card i {
	color: var(--text);
	font-size: 28px;
}

.card i:hover {
	color: var(--accent); /* Cambiado a azul índigo */
	cursor: pointer;
}

.card-content {
	padding: 15px;
	flex: 2;
	display: flex;
	flex-direction: column;
}

.card-content .card-demo {
	padding: 15px 0px;
	padding-bottom: 0px;
	display: flex;
	flex: 1;
}

.card-content .card-demo i {
	padding-right: 10px;
}

/* Footer */

#contact {
	padding: 20px;
	padding-top: 1rem; /* Cambiado a azul muy claro */
	justify-items: center;
	text-align: center;
}

.social {
	padding: 10px;
}

.social a {
	text-decoration: none;
	color: var(--text);
}

.social a:hover {
	color: var(--accent);
}

.social i {
	font-size: 32px;
	padding: 5px;
}
