$bg-color: #000000;
$bg-header: #374151;
$bg-soft: #060606;

$title: #ffffff;
$text: #ffffff;
$text-secondary: #000000;

$primary: #677eff;
$secondary: #ffffff;
$tertiary: #e3e3e3;

$accent: #939cb1;

$border-color: #252525;
