@use "variables";
@use "animations";

/* ***********
*  *  About  *
*  ***********/

#about {
	padding: 8px;

	justify-self: center;

	background: linear-gradient(
		45deg,
		variables.$bg-soft 50%,
		variables.$bg-header 100%
	);

	color: variables.$text;
	border-radius: 14px;
	background-size: 400% 400%;

	animation: gradient 5s ease-in-out infinite;
}

@media screen and (min-width: 768px) {
	#about {
		max-width: 70%;
	}
}

.about-container {
	padding: 8px;

	display: flex;
	flex-wrap: wrap-reverse;
}

.about-text {
	padding: 8px;

	min-width: 75%;

	flex: 2;

	font-size: 1.05rem;
}

.about-img {
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;

	img {
		border-radius: 100%;
		border-bottom: 4px solid #374151;
		border-left: 3px solid #374151;
		box-shadow: #374151 0 0 8px;
	}
}
