@use "mixins";
@use "variables";

/* ************
*  * Contacto *
*  ************/

.formulario-container {
	padding: 8px;
	margin: 8px;

	@include mixins.flex(column, center, center);
	text-align: center;
}

.formulario {
	margin: 8px;
	padding: 8px;

	width: 100%;
	max-width: 400px;

	@include mixins.flex(column, center, center, wrap);

	color: variables.$text;
	background-image: variables.$bg-soft;
	border: 2px solid variables.$border-color;
	border-radius: 24px;

	&:hover {
		background-image: radial-gradient(
			circle,
			variables.$bg-soft 80%,
			variables.$bg-header 100%
		);
	}

	div {
		margin: 4px;
		padding: 8px;

		@include mixins.flex(column, center, center);

		width: 100%;
		max-width: 350px;
	}

	input {
		margin: 4px;
		padding: 8px;

		width: 100%;
		max-width: 300px;

		color: variables.$text;
		background-color: variables.$bg-soft;
		border: 1px solid variables.$border-color;
		border-radius: 4px;

		&:focus {
			outline: none;
			border: 1px solid variables.$text;
		}
	}

	textarea {
		margin: 4px;
		padding: 8px;

		width: 100%;
		max-width: 300px;
		height: 150px;

		color: variables.$text;
		background-color: variables.$bg-soft;
		border: 1px solid variables.$border-color;
		border-radius: 4px;

		&:focus {
			outline: none;
			border: 1px solid variables.$text;
		}
	}

	button {
		margin: 4px;
		padding: 8px;

		width: 100px;
		max-width: 300px;

		color: variables.$text;
		background-color: variables.$bg-soft;
		border: 2px solid variables.$tertiary;
		border-radius: 4px;

		cursor: pointer;

		align-self: flex-end;
		font-weight: 700;

		&:hover {
			background-color: variables.$primary;
		}
	}
}
