@use "variables";

/* **********
*  * Skills *
*  **********/

#skills {
	padding: 8px;

	.skills-icons {
		padding: 8px;

		font-size: 48px;
		text-align: center;
	}

	h4 {
		padding: 8px;
		font-size: 1.5rem;
		text-align: center;
		font-weight: 600;
	}
}
