@use "mixins";
@use "variables";

/* **********
*  *  Hero  *
*  **********/

.hero {
	padding: 0 1rem;
	min-height: 100vh;

	@include mixins.flex(column, center, center);
	text-align: center;

	background-image: linear-gradient(
			180deg,
			#ffffff00 0%,
			variables.$bg-soft 80%,
			variables.$bg-color 100%
		),
		url("https://fcampo7.github.io/Mi-Portfolio/resources/img/Hero.jpg");
	background-size: cover;
}

.hero-content {
	max-width: 800px;
	h1 {
		justify-self: center;
		margin-bottom: 1.5rem;

		color: variables.$text;
		font-size: 4rem;
		line-height: 1.2;

		transform-origin: top left;
		animation: hinge 4s ease-in-out 0.5s;
	}

	p {
		color: variables.$accent;
		font-size: 1.8rem;
		font-weight: 500;
		animation: fadein 4.5s ease-in-out;
	}
}

@keyframes hinge {
	10%,
	30% {
		transform: rotate(70deg);
		opacity: 0.5;
	}
	20%,
	40% {
		transform: rotate(55deg);
		opacity: 1;
	}
	50% {
		transform: translateY(600px) scale(0.2);
		opacity: 0;
	}
	80% {
		transform: translateY(-1000px) scale(0.5);
		opacity: 0;
	}
	100% {
		transform-origin: center;
		transform: translateY(0px) scale(1);
		opacity: 1;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
