@use "mixins";
@use "variables";

/* ************
*  * Projects *
*  ************/

#projects {
	padding: 8px;
}

.mi-card-container {
	@include mixins.flex(row, center, center, wrap);
}

.mi-card {
	margin: 8px;
	padding: 8px;

	max-width: 400px;

	@include mixins.flex(column, $wrap: wrap);

	color: variables.$text;
	background-image: variables.$bg-soft;
	border: 2px solid variables.$border-color;
	border-radius: 24px;

	&:hover {
		background-image: radial-gradient(
			circle,
			variables.$bg-soft 70%,
			variables.$bg-header 100%
		);

		animation: mi-card-hover 1s ease-in-out;
	}

	img {
		width: 400px;
		max-width: 100%;
		max-height: 200px;
		min-height: 200px;

		flex: 1;
		align-self: center;

		cursor: zoom-in;

		border: variables.$border-color 1px solid;
		border-radius: 20px;

		&:active {
			transition-duration: 0.25s;
			transition-timing-function: ease-in;
			transform: scale(2);
		}
	}

	.mi-card-content {
		padding: 14px;

		@include mixins.flex(column, center, flex-start);
		flex: 2;

		h3 {
			width: 100%;
			align-self: center;
			padding-top: 4px;
			padding-bottom: 14px;

			flex: 1;
			text-align: center;
			font-weight: 600;

			border-bottom: variables.$border-color 2px solid;

			font-family: "Turret Road", sans-serif;
			font-size: 1.5rem;
		}

		p {
			flex: 4;
		}

		span {
			margin-bottom: 8px;
			padding-top: 8px;
		}

		i {
			color: variables.$text;
			font-size: 28px;

			&:hover {
				color: variables.$accent;

				cursor: pointer;
			}
		}

		.mi-card-demo {
			padding: 14px 0px;
			padding-bottom: 0px;

			display: flex;
			flex: 1;

			i {
				padding-right: 8px;
			}
		}
	}
}

@keyframes mi-card-hover {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
